In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Dataset Implementation

In [3]:
# upload KC1 Dataset
iris = pd.read_csv("IRIS.csv")

In [4]:
iris.shape

(150, 5)

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
X = iris.iloc[:,:-1]

In [7]:
y = iris.iloc[:,-1]

In [8]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
y = labelencoder_X_1.fit_transform(y)

In [9]:
#checking shape
y.shape

(150,)

In [10]:
from sklearn.preprocessing import StandardScaler

x = StandardScaler().fit_transform(X)

In [14]:
from sklearn.decomposition import PCA
pca = PCA(n_components=4)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 1', 'principal component 2'])

In [15]:
pca.explained_variance_ratio_

array([0.72770452, 0.23030523, 0.03683832, 0.00515193])