# Dataset Implementation

In [80]:
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
# upload KC1 Dataset
jm1 = pd.read_csv("Dataset/jm1.csv")

In [82]:
jm1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10885 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loc                10885 non-null  float64
 1   v(g)               10885 non-null  float64
 2   ev(g)              10885 non-null  float64
 3   iv(g)              10885 non-null  float64
 4   n                  10885 non-null  float64
 5   v                  10885 non-null  float64
 6   l                  10885 non-null  float64
 7   d                  10885 non-null  float64
 8   i                  10885 non-null  float64
 9   e                  10885 non-null  float64
 10  b                  10885 non-null  float64
 11  t                  10885 non-null  float64
 12  lOCode             10885 non-null  int64
 13  lOComment          10885 non-null  int64
 14  lOBlank            10885 non-null  int64
 15  locCodeAndComment  10885 non-null  int64
 16  uniq_Op            10885 non-null  object
 17  uniq_Opnd          10885 non-null  object
 18  total_Op           10885 non-null  object
 19  total_Opnd         10885 non-null  object
 20  branchCount        10885 non-null  object
 21  defects            10885 non-null  bool
dtypes: bool(1), float64(12), int64(4), object(5)
memory usage: 1.8+ MB

In [83]:
indexNames = jm1[ jm1['uniq_Opnd'] == "?" ].index
jm1.drop(indexNames , inplace=True)

In [84]:
indexNames = jm1[ jm1['total_Op'] == "?" ].index
jm1.drop(indexNames , inplace=True)

In [85]:
indexNames = jm1[ jm1['total_Opnd'] == "?" ].index
jm1.drop(indexNames , inplace=True)

In [86]:
indexNames = jm1[ jm1['branchCount'] == "?" ].index
jm1.drop(indexNames , inplace=True)

In [87]:
jm1.shape

(10880, 22)

In [88]:
jm1["branchCount"] = jm1["branchCount"].astype(str).astype(float)

In [89]:
jm1["uniq_Op"] = jm1["uniq_Op"].astype(str).astype(float)
jm1["uniq_Opnd"] = jm1["uniq_Opnd"].astype(str).astype(float)
jm1["total_Op"] = jm1["total_Op"].astype(str).astype(float)
jm1["total_Opnd"] = jm1["total_Opnd"].astype(str).astype(float)

In [90]:
jm1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10880 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loc                10880 non-null  float64
 1   v(g)               10880 non-null  float64
 2   ev(g)              10880 non-null  float64
 3   iv(g)              10880 non-null  float64
 4   n                  10880 non-null  float64
 5   v                  10880 non-null  float64
 6   l                  10880 non-null  float64
 7   d                  10880 non-null  float64
 8   i                  10880 non-null  float64
 9   e                  10880 non-null  float64
 10  b                  10880 non-null  float64
 11  t                  10880 non-null  float64
 12  lOCode             10880 non-null  int64
 13  lOComment          10880 non-null  int64
 14  lOBlank            10880 non-null  int64
 15  locCodeAndComment  10880 non-null  int64
 16  uniq_Op            10880 non-null  float64
 17  uniq_Opnd          10880 non-null  float64
 18  total_Op           10880 non-null  float64
 19  total_Opnd         10880 non-null  float64
 20  branchCount        10880 non-null  float64
 21  defects            10880 non-null  bool
dtypes: bool(1), float64(17), int64(4)
memory usage: 1.8 MB

In [91]:
X = jm1.iloc[:,:-1]

In [92]:
Y = jm1.iloc[:,-1]

In [93]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
y = labelencoder_X_1.fit_transform(Y)

In [94]:
#checking shape
y

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [95]:
from sklearn.preprocessing import StandardScaler

x = StandardScaler().fit_transform(X)

In [97]:
from sklearn.decomposition import PCA
pca = PCA(n_components=21)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3' 
                          ,'principal component 4' ,'principal component 5','principal component 6',
                        'principal component 7' ,'principal component 8','principal component 9',
                         'principal component 10' ,'principal component 11','principal component 12',
                         'principal component 13' ,'principal component 14','principal component 15',
                         'principal component 16' ,'principal component 17','principal component 18',
                         'principal component 19' ,'principal component 20','principal component 21'])

In [98]:
principalDf.shape

(10880, 21)

In [99]:
loss = ((X - principalDf) ** 2).mean()

In [78]:
pca.explained_variance_ratio_

array([0.64659072, 0.07795463, 0.06235823, 0.04586402, 0.03951576,
       0.03587299])

In [105]:
X

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,1.30,2,2,2,2,1.2,1.2,1.2,1.2,1.4
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.00,1,1,1,1,1.0,1.0,1.0,1.0,1.0
2,72.0,7.0,1.0,6.0,198.0,1134.13,0.05,20.31,55.85,23029.10,...,1279.39,51,10,8,1,17.0,36.0,112.0,86.0,13.0
3,190.0,3.0,1.0,3.0,600.0,4348.76,0.06,17.06,254.87,74202.67,...,4122.37,129,29,28,2,17.0,135.0,329.0,271.0,5.0
4,37.0,4.0,1.0,4.0,126.0,599.12,0.06,17.19,34.86,10297.30,...,572.07,28,1,6,0,11.0,16.0,76.0,50.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,18.0,4.0,1.0,4.0,52.0,241.48,0.14,7.33,32.93,1770.86,...,98.38,13,0,2,0,10.0,15.0,30.0,22.0,7.0
10881,9.0,2.0,1.0,2.0,30.0,129.66,0.12,8.25,15.72,1069.68,...,59.43,5,0,2,0,12.0,8.0,19.0,11.0,3.0
10882,42.0,4.0,1.0,2.0,103.0,519.57,0.04,26.40,19.68,13716.72,...,762.04,29,1,10,0,18.0,15.0,59.0,44.0,7.0
10883,10.0,1.0,1.0,1.0,36.0,147.15,0.12,8.44,17.44,1241.57,...,68.98,6,0,2,0,9.0,8.0,21.0,15.0,1.0
10884,19.0,3.0,1.0,1.0,58.0,272.63,0.09,11.57,23.56,3154.67,...,175.26,13,0,2,1,12.0,14.0,31.0,27.0,5.0

In [63]:
result.to_csv('jm1_components.csv')

NameError: name 'result' is not defined

In [175]:
dataframe = pd.read_csv("kc1_components.csv")
dataframe.head()

             x1          x2         x3        x4        x5        x6  target
0  -5254.504658 -118.378089   1.831236  9.168051 -0.030717  0.510175       0
1  -5254.833514 -118.881833   2.754197  9.591833 -0.148120  0.680676       1
2  16174.145740  235.323286 -34.579359  2.084614 -2.428164 -0.081671       1
3   6216.253323  350.829399   8.319157  0.330956 -8.042878  0.434046       1
4  -2863.735950   80.624963  -7.631032 -6.897250 -4.618032  5.478207       1